@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html, body{
    height: 100%;
    background-image: url(img/mendung.jpg);
}

*{
    padding: 0px;
    margin: 0px;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 900px;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
}

.temp {
    border-radius: 10px;
    background-color: #012443; 
    color: rgb(211, 211, 211); 
    display: inline-block; 
    padding: 5px 8px;
}

body {
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh; 
    overflow-y: hidden;
}

.footer {
    width: 100%;
    height: 70px;
    /* background-color: #012443; */
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 8px;
}

.footer h6 {
    font-weight: 200;
}

.footer span {
    color: crimson;
}

.row {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form-control {
    background-color: #ffffff;
    opacity: 50%;
}

.btn {
    border-radius: 10px;
    background-color: #012443;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn:hover {
    transition: 0.5s;
    border-radius: 10px;
    background-color: #0157a3;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.form-control {
    border-radius: 10px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

img {
    margin-left: 550px;
    position: relative;
    bottom: 200px;
}

.anima {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

/* .anima {
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right, #FFF 20%, rgb(166, 254, 255) 40%, rgb(62, 255, 255) 60%, rgb(178, 243, 255) 100%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
    -webkit-animation: shine 3s linear infinite;
}

@keyframes shine {
    to {
      background-position: 200% center;
    }
  } */